header {
  padding: 20px;
}

.languages {
  padding: 20px;
}

.autoplay {
  padding: 20px;
}

.audio-quality {
  padding: 20px;
}

.personalisation {
  padding: 20px;
}

#settings-container {
  color: white;
}

.settings-container::-webkit-scrollbar {
  display: none;
}

#settings-menu-row {
  padding: 8px;
  height: 25%;
}

.inner-container {
  height: inherit;
  width: inherit;
  margin-left: 6%;
  margin-top: 1%;
}

.top {
  color: white;
  margin: 10px;
}

.top-text {
  color: white;
  width: 85.25%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 4%;
}

.top-element {
  color: white;
}

.top-pic {
  display: contents !important;
}

.recent {
  color: white;
}

.avatar {
  float: right;
}

.song {
  color: white;
}

.wish {
  color: white;
}

#row {
  margin-top: 20px;
}

#setting-subtitles {
  height: 25%;
    padding: 2%;
    padding-left: 1%;
}

.form-root {
  height: 20%;
  width: 25%;
}

#music-slider {
  width: 100%;
  margin-top: 5%;
}

#music-div-3 {
  margin-top: 2%;
}